<md-content layout-padding>
  <p>
    I am a software developer specializing in web applications.I have over 20 years experience developing cutting edge
    products across many verticals. I have a proven track record, bringing products from idea through development and
    deployment.


  <ul style="padding-left: 25px">

  <li>Expert front end developer with proven track record delivering user facing SAS web applications, mobile interfaces and embedded products.</li>
  <li>Most recent project utilizes Angular with material design and integrates visualization libraries (d3), security components and a high performance web API.</li>
  <li>End to end technologist with skills from hardware design, through embedded development and product design.</li>
  <li>Well versed in standard engineering practices:  QA, Code Control, Documentation, Agile/Scrum.</li>
  <li>I write clean, human readable code and clear concise documentation.</li>
  <li>Excellent relationship with QA and Product teams, contributing to both product direction and quality.</li>
  <li>Consistently learning and researching the most current methods, languages and standards.</li>


  </ul>
  <nvd3 options="vm.options" data="vm.data" class="with-3d-shadow with-transitions"></nvd3>


  </p>
</md-content>
