<md-content layout-padding id="pcAbout">


  <div>
    <h2>Welcome to www.pcousineau.net</h2>
    <p>
      I am an expert front end developer with a proven track record of
      delivering user facing SAAS web applications, mobile interfaces and embedded products.
    </p>
    <p>
      My most recent project utilizes Angular with material design and
      integrates visualization libraries (d3), security components and a high performance web API.
    </p>
    <p>
      In addition to web applications technology, I have skills with hardware design,
      embedded systems and product development and I am well versed in standard engineering practices: QA, Code Control, Documentation, Agile/Scrum.
    </p>
    <p>
      I foster excellent relationships with customers, QA and Product teams, contributing to both product direction and quality,
      while Consistently learning and researching the most current methods, languages and standards.
    </p>
    <p>
      I write clean, human readable code and clear concise documentation.
    </p>
  </div>


</md-content>
