<md-content layout-padding>
  <h1 class="md-display-2">About</h1>
  <p>
    I am a software developer specializing in web applications.I have over 20 years experience developing cutting edge
    products across many verticals. I have a proven track record, bringing products from idea through development and
    deployment.


  <ul style="padding-left: 25px">
    <li>
      I will turn your idea into a reliable, robust product.
    </li>
    <li>
      I have a proven track record of bringing products from design through development and to deployment.
    </li>
    <li>
      I am able to integrate multiple complex subsystems, into user friendly interfaces and fulfil "big picture"
      functionality.
    </li>
    <li>
      I am well versed in modern web standards, frameworks and languages
    </li>
    <li>
      I design modern sleak interfaces, based on current design standards and trends.
    </li>


  </ul>
  <nvd3 options="vm.options" data="vm.data" class="with-3d-shadow with-transitions"></nvd3>


  </p>
</md-content>
