<div  id="pcInfo">

  <div layout-align="start center" layout="row" layout-padding>
    <div>
      <i class="zmdi zmdi-email zmdi-hc-2x"></i>
    </div>
    <div class="infoName">
      Email
    </div>
    <div>
      oolotronic@hotmail.com
    </div>
  </div>

  <div layout-align="start center" layout="row"  layout-padding>
    <div>
      <i class="zmdi zmdi-linkedin-box zmdi-hc-2x"></i>
    </div>
    <div class="infoName">Linkedin</div>
    <a href="https://www.linkedin.com/in/paul-cousineau-b3319461" target="_blank">
      https://www.linkedin.com/in/paul-cousineau-b3319461
    </a>
  </div>

  <div layout-align="start center" layout="row"  layout-padding>
    <div>
      <i class="zmdi zmdi-github zmdi-hc-2x"></i>
    </div>
    <div class="infoName">Git Hub</div>
    <a href="https://github.com/oolox/pcousineau" target="_blank">
      https://github.com/oolox/pcousineau
    </a>
  </div>

  <div layout-align="start center" layout="row"  layout-padding>
    <div>
      <i class="zmdi zmdi-collection-text zmdi-hc-2x"></i>
    </div>
    <div class="infoName">Resume</div>
    <a href="assets/pcousineauResume.pdf" target="_blank">
      pcousineauResume.pdf
    </a>
  </div>

</div>
